/* То, что позади всего */
body{
    background-image: url(../images/1234.png);
    background-repeat: no-repeat;
}

/* Боковая панель */
aside {
    float: left;
    background: #dcdcdc;
    width: 18%;
    padding: 1%;
    height: 100vh;
    color: #fff;
    border-right: 4px solid #c0c0c0;
    display: block;
}

/* Надпись "Навигация" */
aside h3 {
    background: -webkit-linear-gradient(#ffb300, #141619);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: cursive;
    font-size: 40px;
    text-align: center;
    color: #000;
    margin-top: 13px;
}

/* Ссылки */
aside li {
    font-family: cursive;
    color: #696969;
    text-decoration: none;
    list-style: none;
    outline: none;
    display: block;
    margin-left: -45px;
    margin-top: 30px;
    text-align: center;
}

/* Кнопки "Войти" и "Выйти" */
aside ol {
    font-family: cursive;
    color: #696969;
    text-decoration: none;
    list-style: none;
    outline: none;
    margin-top: 10px;
    margin-left: -70px;
}

/* Надпись "Коллекция монет" */
aside span {
    font-size: 26px;
    text-align: center;
    color: #141619;
    font-family: cursive;
}

/* Расширение кнопок "Войти" и "Выйти" */
aside ul ol:hover, aside ul a:hover {
    transform: scale(1.05);
    outline: none;
    text-decoration: none;
    color: #FFFDD0
}

/* Расширение ссылок */
aside ul li:hover, aside ul a:hover {
    transform: scale(1.05);
    outline: none;
    text-decoration: none;
    color: #FFFDD0
}

/* штука чтобы ссылки не подчеркивались outline крч */
aside a{
    text-decoration: none;
}

/* просто фьючерз */
.features {
    float: left;
    color: #000;
    margin-top: 100px;
    text-align: center;
    width: 75%;
}

/* Картинка на /moneys */
p{
    float:left;
    width: 100px 100px;
}

/* Изображение перед "Монеты" в aside */
li svg{
    width: 21px;
}

/* Изображения перед "Главная" и "Контакты" в aside */
li i{
    width: 21px;
}

/* Главная надпись на страницах */
h1{
    margin-top: -65px;
    font-family: cursive;
}

