html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
    background-color: #E1E17F;
}

h3{
    font-size: 20px;
    text-align: center;
}

div{
    text-align: center
}