<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>ВХОД</title>
</head>
<body style="background-color: #E1E17F">
    <h3 style="font-size: 20px; text-align: center; margin-top: 250px">Вход</h3>
        {% block content %}
    <form method="POST" action="" novalidate>
        {% csrf_token %}
        <div style="text-align: center; margin-top: 0px">
            <p>
                <input type="text" name="username"
            placeholder="Имя пользователя" class="form-control"
            style="font-size: 15px;">
            </p>
            <p>
                <input type="password" name="password"
            placeholder="Пароль" class="form-control"
            style="font-size: 15px;">
            </p>
            <button name="login" style="font-family: cursive; font-size: 12px">Войти</button>
            <button formaction="{% url 'register' %}" style="font-family: cursive; font-size: 12px">Страница регистрации</button>
            {% for message in messages %}
                <p id="messages">{{ message }}</p>
            {% endfor %}
        </div>
    </form>
{% endblock content%}
</body>