<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>ВХОД</title>
</head>
<body style="background-color: #E1E17F">
    <h3 style="font-size: 20px; text-align: center; margin-top: 250px">Вход</h3>
        {% block content %}
    <form method="POST" action="" novalidate>
        {% csrf_token %}
        <div style="text-align: center; margin-top: 0px">
            <p>
                <input type="text" name="username"
            placeholder="Имя пользователя" class="form-control"
            style="font-size: 15px;">
            </p>
            <p>
                <input type="password" name="password"
            placeholder="Пароль" class="form-control"
            style="font-size: 15px;">
            </p>
            <input type="submit" name="login" style="font-family: cursive; font-size: 12px">
            <a href="{% url 'register' %}" style="font-family: cursive">Регистрация</a>
        </div>
    </form>
{% endblock content%}
    {% for message in messages %}
        <p id="messages">{{ message }}</p>
    {% endfor %}
</body>