{% extends 'users/users.html' %}

{% block title %}Регистрация{% endblock %}

{% block body %}
<div id="window">
	<h2>Регистрация</h2>
	<form method="POST" novalidate>
<!--Таблица чтобы ты понял где тэги писать теперь есть css файл в статике этого приложения-->
		<table>
			{% for field in form %}
			{% csrf_token %}
			<tr>
<!--			Название поля-->
				<td>{{ field.label_tag }}</td>
<!--			Поле с вводом-->
				<td>{{ field }}</td>
<!--			Поле ошибки-->
				{% if field.errors %}
				<ul class="errorlist">
					{% for error in field.errors %}
					<td><li>{{ error }}</li></td>
					{% endfor %}
				</ul>
				{% endif %}
			</tr>
			{% endfor %}
		</table><br>
		<button>Зарегистрироваться</button>
		<button formaction="{% url 'login' %}">Страница входа</button>
	</form>
</div>
{% endblock %}
