{% extends 'main/layout.html' %}

{% block title %}Форма добавления записей{% endblock %}

{% block content %}
    <div class="features">
        <h5>Форма добавления записей</h5>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.Title }}<br>
            {{ form.Image }}<br>
            {{ form.Image_two }}<br>
            {{ form.Country }}<br>
            {{ form.Metal }}<br>
            {{ form.Year }}<br>
            {{ form.Nominal }}<br>
            {{ form.Text }}<br>
            <span>{{ error }}</span>
            <button class="btn btn-success" type="submit">Добавить</button>
        </form>
    </div>
{% endblock %}
