    {% extends 'main/layout.html' %}

{% block title %}Форма добавления записей{% endblock %}

{% block content %}
    <div class="features">
        <h1>Форма добавления записей</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.Title }}<br>
            {{ form.Image }}<br>
            {{ form.Image_two }}<br>
            {{ form.Country }}<br>
            {{ form.Metal }}<br>
            {{ form.Year }}<br>
            {{ form.Nominal }}<br>
            {{ form.Text }}<br>
            <span>{{ error }}</span>
            <button class="btn btn-success" type="submit">Добавить</button>
        </form>

    </div>
{% endblock %}
