{% extends 'main/layout.html' %}

{% block title %}Монетка{% endblock %}


{% block content %}
    <div style="margin-left: 500px">
        {% csrf_token %}
        <table>
            <thead>
                <tr>
                    <td>Название</td>
                    <td>{{ Article.Title }}</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><img src="{{ Article.Image.url }}" height="250"></td>
                    <td><img src="{{ Article.Image_two.url }}" height="250"></td>
                </tr>
                <tr>
                    <td>Страна:</td>
                    <td>{{ Article.Country }}</td>
                </tr>
                <tr>
                    <td>Металл:</td>
                    <td>{{ Article.Metal }}</td>
                </tr>
                <tr>
                    <td>Год изготовления:</td>
                    <td>{{ Article.Year }}</td>
                </tr>
                <tr>
                    <td>Номинал:</td>
                    <td>{{ Article.Nominal }}</td>
                </tr>

            </tbody>
            <tfoot>
                <tr>
                    <td>Описание:</td>
                    <td>{{ Article.Text }}</td>
                </tr>
            </tfoot>
         </table>
        {% if request.user.is_superuser %}
            <a href="{% url 'moneys-delete' Article.id %}" class="btn btn-danger" id="btn1">Удалить</a>
            <a href="{% url 'moneys-update' Article.id %}" class="btn btn-info" id="btn2">Редактировать</a>
        {% endif %}
    </div>
{% endblock %}