{% extends 'main/layout.html' %}

{% block title %}
    <h1>база данных</h1>
{% endblock %}


{% block content %}
    <div class="features">
        <h1>База данных</h1>

        {% for el in moneys %}
            <div class="alert alert-warning">
                <p><img class="img-article-left thumb" src="{{ el.Image.url }}"></p>
                <h3>{{ el.Title }}</h3>
                <a href="{% url 'moneys-detail' el.id %}" class="btn btn-warning">Смотреть</a>
            </div>
        {% endfor %}

    </div>
{% endblock %}